.Scroll {
  overflow-y: auto;
  border: 5px solid black;
  height: 600px;
  margin: 10px 25px;
}

@media (max-width: 1060px) {
  .Scroll {
    margin: 0 25px;
    height: 400px;
    max-width: none;
  }
}

@media (max-width: 480px) {
  .Scroll {
    margin: 0 15px;
    height: 250px;
  }
}
