.dotsContainer {
	display: flex;
	flex-direction: row;
	margin-left: 25px;
}
.dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #8E003B;
	margin: 5px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: 0.5s;
}
.dot:hover {
	transition: 0.5s;
	background: #4F0021;
}
.dot-active {
	transition: 0.3s;
	background: #4F0021;
}

@media (max-width: 1060px) {
	.dot {
		margin-bottom: 5px;
	}
}