.ImageBox {
  display: flex;
  flex-direction: column;

  .Image {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
      margin: 10px;
      height: auto;
      width: 95%;
      cursor: pointer;
    }

    .loading-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 20vh;
      box-sizing: border-box;
      padding: 20px;
      margin: 10px;
      background: #110e1a;
      animation: pulse 2.5s infinite;
    }

    .hidden {
      display: none;
    }
  }
}

@keyframes pulse {
  0% {
    background: #110e1a;
  }
  50% {
    background: #000000;
  }
  100% {
    background: #110e1a;
  }
}

@media (max-width: 1060px) {
  .ImageBox {
    .Image {
      .loading-box {
        height: 30vh;
      }
    }
  }
}
@media (max-width: 480px) {
  .ImageBox {
    img {
      margin: 5px;
    }
  }
}
