.imageContainer {
	display: flex;
	flex-direction: column;
}
.imageContainer img {
	margin: 10px;
	height: auto;
	width: 95%;
	cursor: pointer;
}

@media (max-width: 480px) {
	.imageContainer img {
		margin: 5px;
	}
}