.NavBar {
  .floor-nav {
    position: absolute;
    right: 25px;
    top: -33px;
    display: flex;
    flex-direction: row;

    li {
      cursor: pointer;
      list-style-type: none;
      padding: 10px 20px;

      &:hover {
        transition: ease 0.3s;
        background: #223535;
      }
    }
  }

  .full-border {
    border: 2px solid black;
  }

  .no-left-border {
    border: 2px solid black;
    border-left: none;
  }

  .desktop-skewed-nav-button {
    position: relative;
    z-index: 2;
    right: 70px;
    transform: skewX(-30deg);

    a {
      transform: skewX(30deg);
      display: block;
    }
  }

  .desktop-unskewed-nav-button {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
    width: 50px;
  }

  .floor-nav-button {
    background: #4e7878;

    &.active {
      transition: ease 0.3s;
      background: #223535;

      &:before {
        transition: ease 0.3s;
        background: #223535;
      }
    }
  }

  .floor-nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    li {
      cursor: pointer;
      padding: 10px 30px;

      &:hover {
        transition: ease 0.3s;
        background: #223535;
      }
    }
  }
}

@media (max-width: 1060px) {
  .NavBar {
    .bottom-floor-skew {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 20px;
      z-index: 1;
      transition: ease 0.3s;

      &:hover,
      &.active {
        &:before,
        &:after {
          transition: ease 0.3s;
          background: #223535;
        }
      }

      &:before {
        display: block;
        transform: skew(-30deg);
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background: #4e7878;
        top: -2px;
        right: 12px;
        z-index: -1;
        border: 2px solid black;
      }

      &:after {
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background: #4e7878;
        top: 0px;
        left: 0px;
        z-index: -1;
      }
    }

    .top-floor-skew {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 20px;
      z-index: 1;
      transition: ease 0.3s;

      &:hover,
      &.active {
        &:before,
        &:after {
          transition: ease 0.3s;
          background: #223535;
        }
      }

      &:before {
        display: block;
        transform: skew(30deg);
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background: #4e7878;
        top: -2px;
        left: 12px;
        z-index: -1;
        border: 2px solid black;
      }

      &:after {
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background: #4e7878;
        top: 0px;
        left: 0px;
        z-index: -1;
      }
    }
  }
}
@media (max-width: 480px) {
  .NavBar {
    .floor-nav-mobile {
      li {
        padding: 5px 10px;
      }
    }
  }
}
