.mapListContainer h1 {
	border-bottom: 2px solid white; 
}
.mapList {
	margin: 0 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.welcome {
	padding-top: 30px;
}
.logo {
	width: 350px;
}
@media (max-width: 980px) {
	.mapList {
		margin: 0;
	}
}
@media (max-width: 480px) {
	.logo {
		width: 280px;
	}
}
