body {
  color: white;
  text-align: center;
}

.App {
  p {
    font-size: 30px;
    letter-spacing: 2px;
  }

  h1 {
    letter-spacing: 5px;
    font-size: 60px;
  }

  h2 {
    letter-spacing: 5px;
    font-size: 40px;
  }

  .content-container {
    margin: 72px auto 0;
    width: 100%;
    background: #0d0c13;
  }
}

@media (max-width: 800px) {
  .App {
    .content-container {
      margin: 54px auto 0;
    }
  }
}

@media (max-width: 580px) {
  .App {
    .content-container {
      margin: 36px auto 0;
    }
  }
}

@media (max-width: 480px) {
  .App {
    p {
      font-size: 23px;
    }
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 414px) {
  .App {
    .content-container {
      margin: 45px auto 0;
    }
  }
}
