body {
  background: repeating-linear-gradient(
  45deg,
  #262626,
  #262626 80px,
  #0D0C13 80px,
  #0D0C13 160px
);
  color: white;
  text-align: center;
}
.contentContainer {
  margin: 94px auto 0;
  width: 90%;
  background: #0D0C13;
}
@media (max-width: 740px) {
  .contentContainer {
    margin: 73px auto 0;
  }
}
@media (max-width: 500px) {
  .contentContainer {
    margin: 40px auto 0;
  }
}
@media (max-width: 480px) {
  .contentContainer {
    width: 95%;
  }
  p {
    font-size: 13px;
  }
}
